.center,
.wrap .inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.wrap {
  height: 400px;
  width: 600px;
  margin: 0 auto;
  border: 1px solid red;
  position: relative;
}
.wrap .inner:nth-child(1) {
  height: 300px;
  width: 200px;
  background-color: red;
}
.wrap .inner:nth-child(1):hover {
  background-color: pink;
}
.wrap .inner:nth-child(2) {
  height: 150px;
  width: 100px;
  background-color: blue;
}
.wrap .inner:nth-child(2):hover {
  background-color: green;
}
